server:
  port: 8101
  servlet:
    encoding:
      force: true
      enabled: true
      charset: UTF-8

  tomcat:
    threads:
      max: 200

spring:
  application:
    name: "eventor-back"

  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 20MB # 파일 하나의 최대 크기
      max-request-size: 20MB # 요청 전체 크기 (여러 파일 포함 가능)

  jpa:
    open-in-view: false
    properties:
      hibernate:
        auto_quote_keyword: true    # SQL 키워드를 자동으로 인용하여 SQL 구문 오류를 방지합니다.

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_EMAIL_USERNAME}
    password: ${GOOGLE_EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

  jwt:
    secret: ${JWT_SECRET}
    access-token:
      expires-in: 6000
    refresh-token:
      expires-in: 86400000

  security:
    oauth2:
      client:
        registration:
          google:
            client-name: google
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirect-uri: https://eventor.kr/back/oauth2/code/google
            authorization-grant-type: authorization_code
            scope: email profile


          naver:
            client-name: naver
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: https://eventor.kr/back/oauth2/code/naver
            scope: name, email

          kakao:
            client-name: kakao
            client-id: ${KAKAO_CLIENT_ID}
            redirect-uri: https://eventor.kr/back/oauth2/code/kakao
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image, account_email
            admin-key: ${KAKAO_ADMIN_KEY}

        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://accounts.googleapis.com/oauth2/v3/userinfo
            user-name-attribute:

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

openApi:
  geocoder: ${GEOCODER_KEY}
  tour: ${TOUR_KEY}

logging:
  file:
    path: ./logs

  level:
    io.github.bonigarcia.wdm.WebDriverManager: ERROR
    org.openqa.selenium.devtools.CdpVersionFinder: ERROR
    org.openqa.selenium.chromium.ChromiumDriver: ERROR


#test2